.choresText {
   color: darkorchid;
   font-family: 'Courier New', Courier, monospace;
   font-style: italic;
   text-align: left;
}

.choresHeading {
   color: darkorchid;
   font-family: 'Courier New', Courier, monospace;
   text-decoration: underline;
}